<%- include partials/header.ejs%>

<%- include partials/main_nav.ejs%>
  <h1><%= title %> </h1>
  <p>Welcome to <%= title %> page</p>
  <p>Hello, this is my website for assignment - 1. This assignment is about creating an Expres portfolio site with five different pages they are Home, About, Service, Project and Contact page. So I created this home page to show some information here. Click the button below to find more Information.</p>
  <a href="/about"><i class="fa-sharp fa-solid fa-paper-plane-top"></i>Next</a>
<%- include partials/bottom_nav.ejs%> 

<%- include partials/footer.ejs%>